@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

section {
  padding: 100px;
  background: #ffffff;
  height: 100vh;
}

section header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

.t-logo {
  width: 30%;
}

section header .logo {
  position: relative;
  font-size: 28px;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  opacity: 0;
  animation: slideLeft 0.5s ease-in-out forwards;
}

section header .toggle {
  position: relative;
  width: 50px;
  height: 50px;
  background: url(menuRed.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10000;
  opacity: 0;
  animation: slideRight 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

section header .toggle.active {
  background: url(bmenu.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
  position: absolute;
  display: flex;
  right: 150px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.navigation.active {
  opacity: 1;
  visibility: visible;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  color: #c83c37;
  text-decoration: none;
  font-size: 16px;
  margin: 0 20px;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
  text-transform: uppercase;
}

.navigation.active li a {
  animation: slideRight 0.5s ease-in-out forwards;
  animation-delay: calc(0.2s * var(--i));
}

section .container {
  position: absolute;
  display: flex;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  z-index: 100;
}

section .container .box {
  position: relative;
  width: 25%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  border-right: 10px solid #ffffff;
}

section .container .box:last-child {
  border-right: none;
}

section .container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  opacity: 0;
  animation: slideRight 0.5s ease-in-out forwards;
  animation-delay: calc(0.2s * var(--i));
}

section .container .box .imgBx.active {
  position: fixed;
  top: 100px;
  left: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  z-index: 1000;
  filter: grayscale(0);
  opacity: 1;
}

section .container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

section .container .box .imgBx:hover img {
  transform: scale(1.2);
}

section .container .box .imgBx.active:hover img {
  transform: scale(1);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sci {
  position: relative;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  color: #111;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
  display: inline-block;
  opacity: 0;
  animation: slideLeft 0.5s ease-in-out forwards;
  animation-delay: calc(0.2s * var(--i));
}

.sci li:last-child a {
  margin-right: 0;
}

.copyrightText {
  color: #111;
  font-weight: 500;
  opacity: 0;
  animation: slideRight 0.5s ease-in-out forwards;
  animation-delay: 2.5s;
}

.myButton {
  box-shadow: 0px 2px 15px 7px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #c83c37;
  border-radius: 25px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  padding: 13px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

.myButton:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}

.myButton:active {
  position: relative;
  top: 1px;
}

#order-now {
  color: #ffffff;
}

@keyframes slideRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  section {
    padding: 80px 20px;
  }

  section header {
    height: 70px;
    padding: 10px 20px;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 17px;
    background: #c83c37;
  }

  .navigation li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 10px;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
  }

  section .container {
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    height: calc(100% - 170px);
  }

  section .container .box {
    width: 100%;
    height: 25%;
    border-bottom: 10px solid #ffffff;
  }

  section .container .box .imgBx.active {
    top: 70px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 160px);
  }

  section .container .box:last-child {
    border-right: 10px solid #ffffff;
  }

  .footer {
    width: 100%;
    padding: 0px 20px;
  }

  .footer .blinking {
    font-size: 19px;
    font-style: Arial;
  }

  section .container-2 {
    width: 100%;
  }
  section .special-container .card .imgBox {
    left: 0px;
  }
}

.blinking {
  animation: blinkingText 1.5s infinite;
  font-size: 25px;
  padding: 0px 0px 10px 0px;
}

@keyframes blinkingText {
  0% {
    color: #c83c37;
  }

  49% {
    color: #c83c37;
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: #c83c37;
  }
}

#marquee-section {
  padding-top: 25px;
  height: 100%;
  padding-bottom: 75px;
}

.section-2 {
  background-color: #c83c37;
  height: 40px;
  color: #ffffff;
  padding-left: 5px;
  font-size: 25px;
  text-align: center;
}

.container-2 {
  padding: 3px;
  width: 100%;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
}

.marquee {
  display: block;
  position: relative;
  width: 1300px;
  /* changed width from 800 */
  height: 160px;
  animation: scroll 20s linear infinite;
  /* padding: 3px; */
  display: flex;
  /* added flex  */
}

.marquee:hover {
  animation-play-state: paused;
}

.img1 {
  width: 150px;
  height: 150px;
  /* background-color: #f6f6f6; */
  margin: 3px;
  float: left;
  white-space: nowrap;
  display: flex;
  flex-shrink: 0;
  /* added flex and shrink */
}

/* Make it move */
@keyframes scroll {
  0% {
    left: -20px;
  }

  100% {
    left: -800px;
  }
}

/* Special's Section */
#special-Section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: #ffffff;
  /* border: 3px solid #c83c37; */
  border-top: 6px solid #c83c37;
  border-bottom: 6px solid #c83c37;
}

.special-container {
  position: relative;
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 20px 10px;
}

.special-container .card {
  max-width: 300px;
  height: 420px;
  height: 215px;
  background: #c83c37;
  margin: 30px 30px;
  padding: 20px 15px;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  box-sizing: content-box;
}

.special-container .card:hover {
  height: 420px;
}

.special-container .card .imgBox {
  position: relative;
  background: #ffffff;
  top: -60px;
  left: 20px;
  min-width: initial;
  width: 260px;
  height: 260px;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.special-container .card .imgBox img {
  max-width: 100%;
  border-radius: 4px;
}

.special-container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transition-delay: 0s;
}

.special-container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

/* About Us Section */

#about-us {
  padding-top: 0;
  height: 100%;
}

#about-us-inner {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 75px;
  border-bottom: 6px solid #c83c37;
}

.img3 {
  height: 99%;
  width: 99%;
  background: grey;
  margin: 3px;
  float: left;
  display: flex;
  border: 2px solid #c83c37;
}

.image3 {
  height: 300px;
  width: 550px;
  margin: 3px;
}
